<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--socket io stuff-->


    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap-4/css/bootstrap.min.css" rel="stylesheet">

    <title>Boiler Tracks!</title>
</head>
<body onbeforeunload="return exit()">
<script src="/socket.io/socket.io.js"></script>
<script>
    function getElementFromCookie(elementKey) {
        //Always returns a string
        var name = elementKey + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        console.log("getting element from " + decodedCookie);
        var element = decodedCookie.split(';');
        for(var i = 0; i <element.length; i++) {
            var c = element[i];
            while (c.charAt(0) == ' ') {
                //ignore leading white spaces
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                console.log("found " + name + " of " + c);
                return c.substring(name.length, c.length);
            }
        }
        console.log("cookie element not found");
        return "";
    }
    socket = io('http://localhost:6009');
    var pName = getElementFromCookie("playerName");
    var gKey = getElementFromCookie("key");
    socket.emit('basics', {playerName: pName, game_key: gKey});
</script>
<header>
    <style>
        td, th, tr {
            text-align: center;
        }

        th {
            text-decoration: underline;
        }

        th#wid {
            width: 100px;
        }

        table#plyrstats {
            height: 10px;
            width: 400px;

        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">BoilerTracks</a>
        <%
        console.log("playerName: " + playerName);
        if (playerName != ''){
        %>
        <a class="navbar-brand" href="#" data-toggle="modal" data-target="#playerstat"
           role="button"><%= playerName %></a>
        <%
        }
        %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/leaderboard">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rules">Rules</a>
                </li>
                <%
                if (playerName != ''){
                %>

                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Sign Out</a>
                </li>

                <%
                }
                %>
            </ul>
        </div>
    </nav>

    <!-- //////////////////////////////////// Player Stats MODAL ////////////////////////// -->
    <%
    if (playerName != ''){
    %>
    <div class="modal" id="playerstat" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Player Statistics</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="plyrstats" style="color: black">
                        <th id="wid" style="padding-left: 10px; color: black;">Wins</th>
                        <th id="wid" style="padding-left: 10px; color: black;">Losses</th>
                        <th id="wid" style="padding-left: 10px; color: black;">Hits</th>
                        <th id="wid" style="padding-left: 10px; color: black;">Misses</th>
                        <th id="wid" style="padding-left: 10px; color: black;">Win Rate</th>
                        <th id="wid" style="padding-left: 10px; color: black;">Hit Rate</th>
                        <tr>
                            <td style="padding-left: 10px; color: black;"><%= playerInfo[0].mp_wins %></td>
                            <td style="padding-left: 10px; color: black;"><%= playerInfo[0].mp_losses %></td>
                            <td style="padding-left: 10px; color: black;"><%= playerInfo[0].hits %></td>
                            <td style="padding-left: 10px; color: black;"><%= playerInfo[0].misses %></td>
                            <td style="padding-left: 10px; color: black;"><%= Math.round((playerInfo[0].mp_wins / (playerInfo[0].mp_wins + playerInfo[0].mp_losses)) * 100) || 0 %>
                                %
                            </td>
                            <td style="padding-left: 10px; color: black;"><%= Math.round((playerInfo[0].hits / (playerInfo[0].hits + playerInfo[0].misses)) * 100) || 0 %>
                                %
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <form action="/deletePlayer">
                        <input type="submit" class="btn btn-danger" value="Delete Account">
                    </form>
                    <a href="https://myaccount.google.com/signinoptions/password" class="btn btn-secondary">Change Password</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <%
    }
    %>
</header>

<!--
/*//socket = io.connect("http://localhost:6009");
var socket = io;

socket.on('place_ok', function (placementParams) {
    //placementParams {xLoc: x, yLoc: y, leng: length, dir: direction}
    //get grid element and change it, remove length option
    console.log("placement success received");

});

socket.on('place_fail', function () {
    //show invalid placement message
    console.log("placement fail received");
});*/

-->

<!--script>
    //var socket = io.connect("http://localhost:6009") ;

    socket.on('place_ok', function (placementParams) {
        //placementParams {xLoc: x, yLoc: y, leng: length, dir: direction}
        //get grid element and change it, remove length option
        console.log("placement success received");

    });

    socket.on('place_fail', function () {
        //show invalid placement message
        console.log("placement fail received");
    });

    console.log("getting here listener");
    var placeBtn = document.getElementById("place");
    placeBtn.addEventListener("click", function () {
        console.log("sending placement click");
        //var scriptSocket =  io;
        var X = document.getElementById("X");
        var Y = document.getElementById("Y");
        var L = document.getElementById("L");
        var D = document.getElementById("D");
        var rKey = document.getElementById("rKey");
        socket.emit('place', {playerName: playerName, xLoc: X, yLoc: Y, leng: L, dir: D, key: rKey});
    });
</script-->

<style type="text/css">
    body {
        background: black;
    }

    /*battleship board display*/
    div#board {
        position: relative;
        width: 350px;
        height: 334px;
        margin: auto;
        background: url("../../images/game board white bckrnd.png") no-repeat;
    }

    /*battleship message*/
    h1#messageArea {
        position: absolute;
        top: 0;
        left: 0;
        color: rgb(83, 175, 19);
    }

    /*battleship table*/
    table {
        position: relative;
        width: 340px;
        height: 360px;
        border-spacing: 0;
        /*background-color: rgb(152, 207, 113);*/
        z-index: 200;
    }

    /*battleship table rows*/
    tr {
        height: 29px;

    }

    /*battleship table data cell*/
    td {
        width: 31px;
        height: 29px;

    }

    /*hit or miss*/
    .hit {
        background: url('http://codifyacademy.com/project_battleship_demo/css/../img/ship.png') no-repeat center center;
    }

    .miss {
        background: url('http://codifyacademy.com/project_battleship_demo/css/../img/miss.png') no-repeat center center;
    }


</style>

<!-- Latest compiled and minified bootstrap CSS -->

<!-- positioning -->

<table style="width:800px; float:top;">
    <tr>
        <td id="myName" align="center">
            <%= playerName %>'s Board
        </td>
        <td id="enemyName" align="center">
            <%= enemyName %>'s Board
        </td>
    </tr>

    <%
    var otherJoined = false;
    if(isHost === "yes" && !(otherJoined)){
        console.log("Hosting from if other");
        /*socket.emit('setup', {setupKey: rKey});*/ %>
    <div hidden id="rKey" style="display: none;"><%= rKey %></div>
    <tr>
        <td align="center">
            Room Key: <%= rKey %>
        </td>
        <td align="center">
            Send an opponent this code to start!
        </td>
    </tr>
    <% }else if (isHost === "no" && !(otherJoined)) {
        console.log("Joining from if other");
        //var joiningName = playerName;
        //var joiningKey = rKey;
        otherJoined = true;
        //console.log("Will this show");
        //socket.emit('joining', {name: joiningName, key: joiningKey});
    } else {
        console.log("Started game.");
    }
    %>

    <tr>
        <td>
            <!-- battleship board -->
            <div id="board" style="width: 100%; display: table;">
                <div style="display: table-row">
                    <table> <!-- -1 columns are not used --!>
        <!-- battleship row -1 SHOULD NEVER BE ACCESSED!-->
                        <tr>
                            <td id="1-0z" style="background-color: transparent"></td>
                            <td id="01z" style="background-color: transparent"></td>
                            <td id="02z" style="background-color: transparent"></td>
                            <td id="03z" style="background-color: transparent"></td>
                            <td id="04z" style="background-color: transparent"></td>
                            <td id="05z" style="background-color: transparent"></td>
                            <td id="06z" style="background-color: transparent"></td>
                            <td id="07z" style="background-color: transparent"></td>
                            <td id="08z" style="background-color: transparent"></td>
                            <td id="09z" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 0 -->
                        <tr>
                            <td id="1-0" style="background-color: transparent"></td>
                            <td id="00" style="background-color: transparent"></td>
                            <td id="01" style="background-color: transparent"></td>
                            <td id="02" style="background-color: transparent"></td>
                            <td id="03" style="background-color: transparent"></td>
                            <td id="04" style="background-color: transparent"></td>
                            <td id="05" style="background-color: transparent"></td>
                            <td id="06" style="background-color: transparent"></td>
                            <td id="07" style="background-color: transparent"></td>
                            <td id="08" style="background-color: transparent"></td>
                            <td id="09" style="background-color: transparent"></td>
                        <!-- battleship row 1 -->
                        <tr>
                            <td id="1-1" style="background-color: transparent"></td>
                            <td id="10" style="background-color: transparent"></td>
                            <td id="11" style="background-color: transparent"></td>
                            <td id="12" style="background-color: transparent"></td>
                            <td id="13" style="background-color: transparent"></td>
                            <td id="14" style="background-color: transparent"></td>
                            <td id="15" style="background-color: transparent"></td>
                            <td id="16" style="background-color: transparent"></td>
                            <td id="17" style="background-color: transparent"></td>
                            <td id="18" style="background-color: transparent"></td>
                            <td id="19" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 2 -->
                        <tr>
                            <td id="2-1" style="background-color: transparent"></td>
                            <td id="20" style="background-color: transparent"></td>
                            <td id="21" style="background-color: transparent"></td>
                            <td id="22" style="background-color: transparent"></td>
                            <td id="23" style="background-color: transparent"></td>
                            <td id="24" style="background-color: transparent"></td>
                            <td id="25" style="background-color: transparent"></td>
                            <td id="26" style="background-color: transparent"></td>
                            <td id="27" style="background-color: transparent"></td>
                            <td id="28" style="background-color: transparent"></td>
                            <td id="29" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 3 -->
                        <tr>
                            <td id="3-1" style="background-color: transparent"></td>
                            <td id="30" style="background-color: transparent"></td>
                            <td id="31" style="background-color: transparent"></td>
                            <td id="32" style="background-color: transparent"></td>
                            <td id="33" style="background-color: transparent"></td>
                            <td id="34" style="background-color: transparent"></td>
                            <td id="35" style="background-color: transparent"></td>
                            <td id="36" style="background-color: transparent"></td>
                            <td id="37" style="background-color: transparent"></td>
                            <td id="38" style="background-color: transparent"></td>
                            <td id="39" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 4 -->
                        <tr>
                            <td id="4-1" style="background-color: transparent"></td>
                            <td id="40" style="background-color: transparent"></td>
                            <td id="41" style="background-color: transparent"></td>
                            <td id="42" style="background-color: transparent"></td>
                            <td id="43" style="background-color: transparent"></td>
                            <td id="44" style="background-color: transparent"></td>
                            <td id="45" style="background-color: transparent"></td>
                            <td id="46" style="background-color: transparent"></td>
                            <td id="47" style="background-color: transparent"></td>
                            <td id="48" style="background-color: transparent"></td>
                            <td id="49" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 5 -->
                        <tr>
                            <td id="5-1" style="background-color: transparent"></td>
                            <td id="50" style="background-color: transparent"></td>
                            <td id="51" style="background-color: transparent"></td>
                            <td id="52" style="background-color: transparent"></td>
                            <td id="53" style="background-color: transparent"></td>
                            <td id="54" style="background-color: transparent"></td>
                            <td id="55" style="background-color: transparent"></td>
                            <td id="56" style="background-color: transparent"></td>
                            <td id="57" style="background-color: transparent"></td>
                            <td id="58" style="background-color: transparent"></td>
                            <td id="59" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 6 -->
                        <tr>
                            <td id="6-1" style="background-color: transparent"></td>
                            <td id="60" style="background-color: transparent"></td>
                            <td id="61" style="background-color: transparent"></td>
                            <td id="62" style="background-color: transparent"></td>
                            <td id="63" style="background-color: transparent"></td>
                            <td id="64" style="background-color: transparent"></td>
                            <td id="65" style="background-color: transparent"></td>
                            <td id="66" style="background-color: transparent"></td>
                            <td id="67" style="background-color: transparent"></td>
                            <td id="68" style="background-color: transparent"></td>
                            <td id="69" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 7 -->
                        <tr>
                            <td id="7-1" style="background-color: transparent"></td>
                            <td id="70" style="background-color: transparent"></td>
                            <td id="71" style="background-color: transparent"></td>
                            <td id="72" style="background-color: transparent"></td>
                            <td id="73" style="background-color: transparent"></td>
                            <td id="74" style="background-color: transparent"></td>
                            <td id="75" style="background-color: transparent"></td>
                            <td id="76" style="background-color: transparent"></td>
                            <td id="77" style="background-color: transparent"></td>
                            <td id="78" style="background-color: transparent"></td>
                            <td id="79" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 8 -->
                        <tr>
                            <td id="8-1" style="background-color: transparent"></td>
                            <td id="80" style="background-color: transparent"></td>
                            <td id="81" style="background-color: transparent"></td>
                            <td id="82" style="background-color: transparent"></td>
                            <td id="83" style="background-color: transparent"></td>
                            <td id="84" style="background-color: transparent"></td>
                            <td id="85" style="background-color: transparent"></td>
                            <td id="86" style="background-color: transparent"></td>
                            <td id="87" style="background-color: transparent"></td>
                            <td id="88" style="background-color: transparent"></td>
                            <td id="89" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 9 -->
                        <tr>
                            <td id="9-1" style="background-color: transparent"></td>
                            <td id="90" style="background-color: transparent"></td>
                            <td id="91" style="background-color: transparent"></td>
                            <td id="92" style="background-color: transparent"></td>
                            <td id="93" style="background-color: transparent"></td>
                            <td id="94" style="background-color: transparent"></td>
                            <td id="95" style="background-color: transparent"></td>
                            <td id="96" style="background-color: transparent"></td>
                            <td id="97" style="background-color: transparent"></td>
                            <td id="98" style="background-color: transparent"></td>
                            <td id="99" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 10 SHOULD NEVER BE ACCESSED!-->
                        <tr>
                            <td id="10-1" style="background-color: transparent"></td>
                            <td id="100*" style="background-color: transparent"></td>
                            <td id="101*" style="background-color: transparent"></td>
                            <td id="102*" style="background-color: transparent"></td>
                            <td id="103*" style="background-color: transparent"></td>
                            <td id="104*" style="background-color: transparent"></td>
                            <td id="105*" style="background-color: transparent"></td>
                            <td id="106*" style="background-color: transparent"></td>
                            <td id="107*" style="background-color: transparent"></td>
                            <td id="108*" style="background-color: transparent"></td>
                            <td id="109*" style="background-color: transparent"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td>
            <div id="board" style="width: 100%; display: table;">
                <div style="display: table-row">
                    <table> <!-- -1 columns are not used --!>
                <!-- battleship row -1 SHOULD NEVER BE ACCESSED!-->
                        <tr>
                            <td></td>
                        </tr>
                        <!-- battleship row 0 -->
                        <tr>
                            <td id="10-1" style="background-color: transparent"></td>
                            <td id="100" style="background-color: transparent"></td>
                            <td id="101" style="background-color: transparent"></td>
                            <td id="102" style="background-color: transparent"></td>
                            <td id="103" style="background-color: transparent"></td>
                            <td id="104" style="background-color: transparent"></td>
                            <td id="105" style="background-color: transparent"></td>
                            <td id="106" style="background-color: transparent"></td>
                            <td id="107" style="background-color: transparent"></td>
                            <td id="108" style="background-color: transparent"></td>
                            <td id="109" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 1 -->
                        <tr>
                            <td id="11-1" style="background-color: transparent">
                            <td id="110" style="background-color: transparent"></td>
                            <td id="111" style="background-color: transparent"></td>
                            <td id="112" style="background-color: transparent"></td>
                            <td id="113" style="background-color: transparent"></td>
                            <td id="114" style="background-color: transparent"></td>
                            <td id="115" style="background-color: transparent"></td>
                            <td id="116" style="background-color: transparent"></td>
                            <td id="117" style="background-color: transparent"></td>
                            <td id="118" style="background-color: transparent"></td>
                            <td id="119" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 2 -->
                        <tr>
                            <td id="12-1" style="background-color: transparent">
                            <td id="120" style="background-color: transparent"></td>
                            <td id="121" style="background-color: transparent"></td>
                            <td id="122" style="background-color: transparent"></td>
                            <td id="123" style="background-color: transparent"></td>
                            <td id="124" style="background-color: transparent"></td>
                            <td id="125" style="background-color: transparent"></td>
                            <td id="126" style="background-color: transparent"></td>
                            <td id="127" style="background-color: transparent"></td>
                            <td id="128" style="background-color: transparent"></td>
                            <td id="129" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 3 -->
                        <tr>
                            <td id="13-1" style="background-color: transparent">
                            <td id="130" style="background-color: transparent"></td>
                            <td id="131" style="background-color: transparent"></td>
                            <td id="132" style="background-color: transparent"></td>
                            <td id="133" style="background-color: transparent"></td>
                            <td id="134" style="background-color: transparent"></td>
                            <td id="135" style="background-color: transparent"></td>
                            <td id="136" style="background-color: transparent"></td>
                            <td id="137" style="background-color: transparent"></td>
                            <td id="38" style="background-color: transparent"></td>
                            <td id="139" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 4 -->
                        <tr>
                            <td id="14-1" style="background-color: transparent">
                            <td id="140" style="background-color: transparent"></td>
                            <td id="141" style="background-color: transparent"></td>
                            <td id="142" style="background-color: transparent"></td>
                            <td id="143" style="background-color: transparent"></td>
                            <td id="144" style="background-color: transparent"></td>
                            <td id="145" style="background-color: transparent"></td>
                            <td id="146" style="background-color: transparent"></td>
                            <td id="147" style="background-color: transparent"></td>
                            <td id="48" style="background-color: transparent"></td>
                            <td id="149" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 5 -->
                        <tr>
                            <td id="15-1" style="background-color: transparent">
                            <td id="150" style="background-color: transparent"></td>
                            <td id="51" style="background-color: transparent"></td>
                            <td id="52" style="background-color: transparent"></td>
                            <td id="153" style="background-color: transparent"></td>
                            <td id="154" style="background-color: transparent"></td>
                            <td id="155" style="background-color: transparent"></td>
                            <td id="156" style="background-color: transparent"></td>
                            <td id="157" style="background-color: transparent"></td>
                            <td id="158" style="background-color: transparent"></td>
                            <td id="159" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 6 -->
                        <tr>
                            <td id="16-1" style="background-color: transparent">
                            <td id="60" style="background-color: transparent"></td>
                            <td id="61" style="background-color: transparent"></td>
                            <td id="62" style="background-color: transparent"></td>
                            <td id="163" style="background-color: transparent"></td>
                            <td id="164" style="background-color: transparent"></td>
                            <td id="165" style="background-color: transparent"></td>
                            <td id="166" style="background-color: transparent"></td>
                            <td id="167" style="background-color: transparent"></td>
                            <td id="168" style="background-color: transparent"></td>
                            <td id="169" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 7 -->
                        <tr>
                            <td id="17-1" style="background-color: transparent">
                            <td id="70" style="background-color: transparent"></td>
                            <td id="71" style="background-color: transparent"></td>
                            <td id="172" style="background-color: transparent"></td>
                            <td id="173" style="background-color: transparent"></td>
                            <td id="174" style="background-color: transparent"></td>
                            <td id="175" style="background-color: transparent"></td>
                            <td id="176" style="background-color: transparent"></td>
                            <td id="177" style="background-color: transparent"></td>
                            <td id="178" style="background-color: transparent"></td>
                            <td id="179" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 8 -->
                        <tr>
                            <td id="18-1" style="background-color: transparent">
                            <td id="180" style="background-color: transparent"></td>
                            <td id="181" style="background-color: transparent"></td>
                            <td id="182" style="background-color: transparent"></td>
                            <td id="183" style="background-color: transparent"></td>
                            <td id="184" style="background-color: transparent"></td>
                            <td id="185" style="background-color: transparent"></td>
                            <td id="186" style="background-color: transparent"></td>
                            <td id="187" style="background-color: transparent"></td>
                            <td id="188" style="background-color: transparent"></td>
                            <td id="189" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 9 -->
                        <tr>
                            <td id="19-1" style="background-color: transparent">
                            <td id="190" style="background-color: transparent"></td>
                            <td id="191" style="background-color: transparent"></td>
                            <td id="192" style="background-color: transparent"></td>
                            <td id="193" style="background-color: transparent"></td>
                            <td id="194" style="background-color: transparent"></td>
                            <td id="195" style="background-color: transparent"></td>
                            <td id="196" style="background-color: transparent"></td>
                            <td id="197" style="background-color: transparent"></td>
                            <td id="198" style="background-color: transparent"></td>
                            <td id="199" style="background-color: transparent"></td>
                        </tr>
                        <!-- battleship row 10 SHOULD NEVER BE ACCESSED! -->
                        <tr>
                            <td id="110-1" style="background-color: transparent"></td>
                            <td id="1100" style="background-color: transparent"></td>
                            <td id="1101" style="background-color: transparent"></td>
                            <td id="1102" style="background-color: transparent"></td>
                            <td id="1103" style="background-color: transparent"></td>
                            <td id="1104" style="background-color: transparent"></td>
                            <td id="1105" style="background-color: transparent"></td>
                            <td id="1106" style="background-color: transparent"></td>
                            <td id="1107" style="background-color: transparent"></td>
                            <td id="1108" style="background-color: transparent"></td>
                            <td id="1109" style="background-color: transparent"></td>
                        </tr>
                    </table>
                </div>
            </div>

        </td>
    </tr>
</table>
<script>
    //Attack and Place functions go here.
    function attack(x, y) {

    }
</script>
<div style="width: 805px;  float: left; display: table;">
    <div style="display: table-row">
        <!-- <div style="width: 600px; display: table-cell;"> Left </div> -->
        <!-- LEFT SID COMPONENTS  -->
        <div class="card text-white bg-dark mb-3" style="width: 500px; display: table-cell;">
            <div class="card-header">Enter Your Move Here .... i.e. (1,J) (5,D)</div>
            <div class="card-body">
                <% if(turns != 0){ %>
                <div style="float:left;">
                    <label for="inputLarge">| X Coordinate |</label>
                    <select name="X">
                        <% for(var i = 1; i <= 10; i++){ %>
                        <option value=<%= i %>><%= i %></option>
                        <% } %>
                    </select>
                </div>
                <div style="float:left;">
                    <label for="inputLarge">| Y Coordinate |</label>
                    <select name="Y">
                        <% var let = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'];
                        for(var i = 0; i < 10; i++){ %>
                        <option value=<%= let [i] %>><%= let [i] %></option>
                        <% } %>
                    </select>
                </div>
                <div style="float:left;">
                    <label for="inputLarge">|</label>
                    <div>
                        <!--input type="submit" name="fire" class="btn btn-primary" value="Fire!"-->
                        <!--<button name="fire" id="fire" class="btn btn-primary" value="Fire" onclick="Fire()">Fire
                        </button>-->
                        <button name="fire" id="fire" class="btn btn-primary" value="Fire">Fire</button>
                    </div>
                </div>
                <% }else{ %>
                <div style="float:left;">
                    <label for="inputLarge">| X Coordinate |</label>
                    <select id="X" name="X">
                        <% for(var i = 1; i <= 10; i++){ %>
                        <option value=<%= i %>><%= i %></option>
                        <% } %>
                    </select>
                    <!--input class="form-control form-control-lg" type="text" placeholder="Enter X Coordinate" id="X" name="X" required-->
                </div>
                <div style="float:left;">
                    <label for="inputLarge">| Y Coordinate |</label>
                    <select id="Y" name="Y">
                        <% var let = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'];
                        for(var i = 0; i < 10; i++){ %>
                        <option value=<%= let [i] %>><%= let [i] %></option>
                        <% } %>
                    </select>
                    <!--input class="form-control form-control-lg" type="text" placeholder="Enter Y Coordinate" id="Y" name="Y" required-->
                </div>
                <div style="float:left;">
                    <label id="lenLabel" for="inputLarge">| Train Length |</label>
                    <select id="L" name="L">
                        <%
                        for(var i = 0; i < shipsLeft.length; i++){ %>
                        <option value=<%= shipsLeft[i] %>><%= Math.floor(shipsLeft[i] / 10) %></option>
                        <% } %>
                    </select>
                    <!--input class="form-control form-control-lg" type="text" placeholder=shipsLeft id="L" name="L" required-->
                </div>
                <div style="float:left;">
                    <label id="dirLabel" for="inputLarge">| Direction |</label>
                    <select id="D" name="D">
                        <% var dir = ['U', 'D', 'L', 'R'];
                        for(var i = 0; i < 4; i++){ %>
                        <option value=<%= dir[i] %>><%= dir[i] %></option>
                        <% } %>
                    </select>
                    <!--input class="form-control form-control-lg" type="text" placeholder="U, D, L, R" id="D" name="D" required-->
                </div>
                <div style="float:left;">
                    <label for="inputLarge">|</label>
                    <div>
                        <!--input type="submit" name="place" class="btn btn-primary" value="Place" onclick="shipPlace()"-->
                        <!--<button name="place" id="place" class="btn btn-primary" value="Place" onclick="shipPlace()">
                            Place
                        </button>-->
                        <button name="place" id="place" class="btn btn-primary" value="Place">
                            Place
                        </button>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <!--document.getElementById("43").setAttribute("background", "../../images/train1.png");-->

        <!--/*-->
        <!--schema:-->
        <!--0: unhit ocean /nothing-->
        <!--1: hit ocean /broken tracks-->
        <!--2: unhit destroyer /ship1-->
        <!--3: hit destroyer /rotisserie chicken-->
        <!--4: unhit submarine /ship2-->
        <!--5: hit submarine /rotisserie chicken-->
        <!--6: unhit cruiser /ship3-->
        <!--7: hit cruiser /rotisserie chicken-->
        <!--8: unhit battleship /ship4-->
        <!--9: hit battleship /rotisserie chicken-->
        <!--10: unhit carrier /ship5-->
        <!--11: hit carrier /rotisserie chicken-->
        <!--*/-->

        <!--//Check through player and enemy game board for values matching to images-->

        <!--<script>-->
            <!--function updateMap() {-->

                <!--for (var i = 0; i < 10; i++) {-->
                    <!--for (var j = 0; j < 10; j++) {-->
                        <!--//Player grid-->
                        <!--//Nothing-->
                        <!--//console.log(yMap);-->
                        <!--if (yMap[i][j] == 0) {-->
                        <!--}-->
                        <!--//Miss-->
                        <!--if (yMap[i][j] == 1) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->
                            <!--document.getElementById(coord).setAttribute("background", "../../images/broken_tracks.png");-->
                        <!--}-->
                        <!--//Ship 1-->
                        <!--if (yMap[i][j] == 2) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = "" + x + y;-->

                            <!--if (x > 0) {-->
                                <!--if (yMap[i - 1][j] == 2)-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship1/part2r.png");-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship1/part1r.png");-->
                            <!--}-->

                            <!--if (j > 0) {-->
                                <!--if (yMap[i][j - 1] == 2)-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship1/part2.png");-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship1/part1.png");-->
                            <!--}-->
                        <!--}-->
                        <!--//Hit Ship1-->
                        <!--if (yMap[i][j] == 3) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->
                            <!--document.getElementById(coord).setAttribute("background", "../../images/rotiseserie_chicken.png");-->
                        <!--}-->
                        <!--//Ship2-->
                        <!--if (yMap[i][j] == 4) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->

                            <!--if (x > 0) {-->
                                <!--if (yMap[i - 1][j] == 4) {-->
                                    <!--if (x < 9) {-->
                                        <!--if (yMap[i + 1][j] == 4)-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship2/part2r.png");-->
                                        <!--else-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship2/part3r.png");-->
                                    <!--}-->
                                <!--}-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship2/part1r.png");-->
                            <!--}-->

                            <!--if (j > 0) {-->
                                <!--if (yMap[i][j - 1] == 4) {-->
                                    <!--if (j < 9) {-->
                                        <!--if (yMap[i][j + 1] == 4)-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship2/part2.png");-->
                                        <!--else-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship2/part3.png");-->
                                    <!--}-->
                                <!--}-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship2/part1.png");-->
                            <!--}-->
                        <!--}-->
                        <!--if (yMap[i][j] == 5) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->
                            <!--document.getElementById(coord).setAttribute("background", "../../images/rotiseserie_chicken.png");-->

                        <!--}-->
                        <!--//Ship3-->
                        <!--if (yMap[i][j] == 6) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->

                            <!--if (x > 0) {-->
                                <!--if (yMap[i - 1][j] == 6) {-->
                                    <!--if (x < 9) {-->
                                        <!--if (yMap[i + 1][j] == 6)-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship3/part2r.png");-->
                                        <!--else-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship3/part3r.png");-->
                                    <!--}-->
                                <!--}-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship3/part1r.png");-->
                            <!--}-->

                            <!--if (j > 0) {-->
                                <!--if (yMap[i][j - 1] == 6) {-->
                                    <!--if (j < 9) {-->
                                        <!--if (yMap[i][j + 1] == 6)-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship3/part2.png");-->
                                        <!--else-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship3/part3.png");-->
                                    <!--}-->
                                <!--}-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship3/part1.png");-->
                            <!--}-->

                        <!--}-->
                        <!--//Hit Ship3-->
                        <!--if (yMap[i][j] == 7) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->
                            <!--document.getElementById(coord).setAttribute("background", "../../images/rotiseserie_chicken.png");-->

                        <!--}-->
                        <!--//Ship4-->
                        <!--if (yMap[i][j] == 8) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->
                            <!--if (x > 0) {-->
                                <!--if (yMap[i - 1][j] == 8) {-->
                                    <!--if (x < 9) {-->
                                        <!--if (yMap[i + 1][j] == 8)-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship4/part2r.png");-->
                                        <!--else-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship4/part3r.png");-->
                                    <!--}-->
                                <!--}-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship4/part1r.png");-->
                            <!--}-->

                            <!--if (j > 0) {-->
                                <!--if (yMap[i][j - 1] == 8) {-->
                                    <!--if (j < 9) {-->
                                        <!--if (yMap[i][j + 1] == 8)-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship4/part2.png");-->
                                        <!--else-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship4/part3.png");-->
                                    <!--}-->
                                <!--}-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship4/part1.png");-->
                            <!--}-->


                        <!--}-->
                        <!--//Hit Ship4-->
                        <!--if (yMap[i][j] == 9) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->
                            <!--document.getElementById(coord).setAttribute("background", "../../images/rotiseserie_chicken.png");-->
                        <!--}-->
                        <!--//Ship5-->
                        <!--if (yMap[i][j] == 10) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->
                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship1/train1.png")-->
                            <!--if (x > 0) {-->
                                <!--if (yMap[i - 1][j] == 10) {-->
                                    <!--if (x < 9) {-->
                                        <!--if (yMap[i + 1][j] == 10)-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship5/part2r.png");-->
                                        <!--else-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship5/part3r.png");-->
                                    <!--}-->
                                <!--}-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship5/part1r.png");-->
                            <!--}-->

                            <!--if (j > 0) {-->
                                <!--if (yMap[i][j - 1] == 10) {-->
                                    <!--if (j < 9) {-->
                                        <!--if (yMap[i][j + 1] == 10)-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship5/part2.png");-->
                                        <!--else-->
                                            <!--document.getElementById(coord).setAttribute("background", "../../images/ship5/part3.png");-->
                                    <!--}-->
                                <!--}-->
                                <!--else-->
                                    <!--document.getElementById(coord).setAttribute("background", "../../images/ship5/part1.png");-->
                            <!--}-->
                        <!--}-->

                        <!--if (yMap[i][j] == 11) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y;-->
                            <!--document.getElementById(coord).setAttribute("background", "../../images/rotiseserie_chicken.png");-->

                        <!--}-->

                        <!--//Looping through enemy map-->
                        <!--//Nothing-->
                        <!--if (eMap[i][j] == 0) {-->
                        <!--}-->
                        <!--//Miss-->
                        <!--if (eMap[i][j] == 1) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y + "0";-->
                            <!--document.getElementById(coord).setAttribute("background", "../../images/broken_tracks.png");-->
                        <!--}-->
                        <!--//Hit-->
                        <!--if (eMap[i][j] != 0 && eMap[i][j] != 1) {-->
                            <!--var x = i + 1;-->
                            <!--var y = j + 1;-->
                            <!--var coord = x + y + "0";-->
                            <!--document.getElementById(coord).setAttribute("background", "../../images/rotisserie_chicken");-->
                        <!--}-->

                    <!--}-->
                <!--}-->
            <!--}-->
        <!--</script>-->


        <!-- <div style="display: table-cell;"> Right </div> -->
        <!-- RIGHT SIDE COMPONENT -->
        <div class="card bg-light mb-3" style="display: table-cell;">
            <div class="card-header">Game Console!</div>
            <div class="card-body">
                <h3 id="errorID" class="card-title">Place Your Ships.</h3>
                <h4 id="turn" class="card-title">Your Turn.</h4>
                <p id=xyOutput class="card-text"></p>

            </div>
        </div>
    </div>
</div>

<!-- <script>
          function xyInput() {

          var x = document.getElementById("X").value;
          var y = document.getElementById("Y").value;
          document.getElementById("xyOutput").innerHTML = x + " , " +  y;   



          }
        </script> -->
<!--warning before leaving page-->
<script>
    function exit() {
        return "Leaving this game will count as a forfeit. Are you sure you want to leave?";
    };
</script>

<!--set up button listeners-->

<script>

    socket.on('p2Info', function(info) {
        //do a thing
        var enName = document.getElementById("enemyName");
        enName.innerText = info.pName;
    });

    var firstThree = 0;

    socket.on('enemyFire', function(fireResults) {
        //update own board based on firing results
        console.log("received enemyFire");
    });

    socket.on('myFire', function(fireResults) {
        //update enemyBoard based on firing results
        console.log("respond to own shot");
    });

    socket.on('place_ok', function (placementParams) {
        //placementParams {xLoc: x, yLoc: y, leng: length, dir: direction}
        //get grid element and change it, remove length option
        //X: 0-9 Y:0-9
        var btnText = document.getElementById("place").innerText;
        if(btnText == "Place") {
            console.log("placement success received");
            //var leng = placementParams.leng;
            var lengChoice = document.getElementById("L");
            lengChoice.remove(lengChoice.selectedIndex);
            console.log(lengChoice.length);

            if(lengChoice.length == 0) {
                //list is empty and all ships are placed
                document.getElementById("errorID").innerText="Fire on the enemy!";
                document.getElementById("place").innerText="Fire";
                document.getElementById("place").value = "Fire";
                var remover = document.getElementById("L");
                remover.parentNode.removeChild(remover);
                remover = document.getElementById("D");
                remover.parentNode.removeChild(remover);
                remover = document.getElementById("lenLabel");
                remover.parentNode.removeChild(remover);
                remover = document.getElementById("dirLabel");
                remover.parentNode.removeChild(remover);
            }

            var x = placementParams.yLoc;
            var y = placementParams.xLoc;
            var xS = x.toString();
            var yS = y.toString();
            var coord = xS+yS;
            console.log("Length: " + placementParams.leng);
            console.log("Coordinates: " + coord);
            if(coord=="00")
                coord="01"


            if(placementParams.leng == 2) {
                console.log("At length check: " + placementParams.leng);
                if (placementParams.dir == "D") {
                    document.getElementById(coord).setAttribute("background", "../../images/ship1/part1r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship1/part2r.png");
                }
                if (placementParams.dir == "L") {
                    y--;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship1/part2.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship1/part1.png");
                }
            }
            if(placementParams.leng == 3 && firstThree == 0) {
                console.log("At length check: " + placementParams.leng);
                if (placementParams.dir == "D") {
                    document.getElementById(coord).setAttribute("background", "../../images/ship2/part3r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship2/part2r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship2/part1r.png");
                }
                if (placementParams.dir == "L") {
                    y--;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship2/part1.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship2/part2.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship2/part3.png");
                }
                firstThree = 1;
            }
            if(placementParams.leng == 3 && firstThree == 1) {
                console.log("At length check: " + placementParams.leng);
                if (placementParams.dir == "D") {
                    document.getElementById(coord).setAttribute("background", "../../images/ship3/part3r.png");
                    x = x + 1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship3/part2r.png");
                    x = x + 1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship3/part1r.png");
                }
                if (placementParams.dir == "L") {
                    y--;
                    yS = y.toString();
                    coord = xS + yS;
                    document.getElementById(parseInt(coord)).setAttribute("background", "../../images/ship3/part1.png");
                    y = y + 1;
                    yS = y.toString();
                    coord = xS + yS;
                    document.getElementById(parseInt(coord)).setAttribute("background", "../../images/ship3/part2.png");
                    y = y + 1;
                    yS = y.toString();
                    coord = xS + yS;
                    document.getElementById(parseInt(coord)).setAttribute("background", "../../images/ship3/part3.png");
                }
                firstThree = 2;
            }
            if(placementParams.leng == 4) {
                console.log("At length check: " + placementParams.leng);
                if (placementParams.dir == "D") {
                    document.getElementById(coord).setAttribute("background", "../../images/ship4/part4r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship4/part3r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship4/part2r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship4/part1r.png");
                }
                if (placementParams.dir == "L") {
                    y--;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship4/part1.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship4/part2.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship4/part3.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship4/part4.png");
                }

            }
            if(placementParams.leng == 5) {
                console.log("At length check: " + placementParams.leng);
                if (placementParams.dir == "D") {
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part5r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part4r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part3r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part2r.png");
                    x = x +1;
                    xS = x.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part1r.png");
                }
                if (placementParams.dir == "L") {
                    y--;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part1.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part2.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part3.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part4.png");
                    y = y+1;
                    yS=y.toString();
                    coord = xS + yS;
                    document.getElementById(coord).setAttribute("background", "../../images/ship5/part5.png");
                }


            }

            /*if(lengChoice.length == 0) {
                //list is empty and all ships are placed
                document.getElementById("errorID").innerText="Fire on the enemy!";
                document.getElementById("place").innerText="Fire";
                document.getElementById("place").value = "Fire";
                var remover = document.getElementById("L");
                remover.parentNode.removeChild(remover);
                remover = document.getElementById("D");
                remover.parentNode.removeChild(remover);
                remover = document.getElementById("lenLabel");
                remover.parentNode.removeChild(remover);
                remover = document.getElementById("dirLabel");
                remover.parentNode.removeChild(remover);
            }*/
            //place ships
        } else if(btnTxt == "Fire") {
            //do a differnet thing
        }

    });

    socket.on('place_fail', function () {
        //show invalid placement message
        document.getElementById("errorID").innerText="Invalid Placement.";
        console.log("placement fail received");
    });

    console.log("getting here listener");
    var placeBtn = document.getElementById("place");
    placeBtn.addEventListener("click", function () {
        console.log("sending placement click");
        var pName = getElementFromCookie("playerName");
        var paramKey = getElementFromCookie("key");
        console.log("cookie: "+document.cookie);
        console.log("selected: "+pName + " for key " +paramKey);
        var X = document.getElementById("X");
        X = parseInt(X.options[X.selectedIndex].text)-1;
        var Y = document.getElementById("Y");
        Y = Y.options[Y.selectedIndex].text;

        switch(Y) {
            case 'A':
                Y = 0;
                break;
            case 'B':
                Y = 1;
                break;
            case 'C':
                Y = 2;
                break;
            case 'D':
                Y = 3;
                break;
            case 'E':
                Y = 4;
                break;
            case 'F':
                Y = 5;
                break;
            case 'G':
                Y = 6;
                break;
            case 'H':
                Y = 7;
                break;
            case 'I':
                Y = 8;
                break;
            case 'J':
                Y = 9;
                break;
        }
        console.log(placeBtn);
        if(placeBtn.innerText == "Place"){
            var L = document.getElementById("L");
            L = parseInt(L.options[L.selectedIndex].text);
            var D = document.getElementById("D");
            D = D.options[D.selectedIndex].text;
            //var rKey = document.getElementById("rKey");
            //socket.emit('place', {playerName: pName, xLoc: X, yLoc: Y, leng: L, dir: D, paramKey: paramKey});
            socket.emit('place', {xLoc: X, yLoc: Y, leng: L, dir: D});
        } else if(placeBtn.innerText == "Fire") {
            //console.log(placeBtn);
            //socket.emit('fire', {playerName: pName, xLoc: X, yLoc: Y, paramKey: paramKey});
            socket.emit('fire', {xLoc: X, yLoc: Y});
        }
    });
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>