<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Bootstrap core CSS -->
    <link href="../../bootstrap-4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">

    <title>Battletracks</title>
</head>

<style>
    body {
        background-color: black;
        align-content: center;
        width: 80%;
    }

    td, th, tr {
        text-align: center;
    }
    th {
        text-decoration: underline;
    }

    h1 {
        color: white;
    }
</style>

<body>

    <header>
        <style>
            td, th, tr {
                text-align: center;
            }
            th {
                text-decoration: underline;
            }
        </style>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/rules">BattleTracks</a>
            <%
            console.log("playerName: "+playerName);
            if (playerName != ''){
            %>
            <a class="navbar-brand" href="#" data-toggle="modal" data-target="#playerstat" role="button"><%=playerName%></a>
            <%
            }
            %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rules">Rules</a>
                    </li>
                    <%
                    if (playerName != ''){
                    %>

                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">Sign Out</a>
                        </li>

                    <%
                    }
                    %>
                </ul>
            </div>
        </nav>

        <!-- //////////////////////////////////// Player Stats MODAL ////////////////////////// -->
        <%
        if (playerName != ''){
        %>
        <div class="modal" id="playerstat" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Player Statistics</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table style="color: black">
                            <th style="padding-left: 10px; color: black;">Wins</th>
                            <th style="padding-left: 10px; color: black;">Losses</th>
                            <th style="padding-left: 10px; color: black;">Hits</th>
                            <th style="padding-left: 10px; color: black;">Misses</th>
                            <th style="padding-left: 10px; color: black;">Win Rate</th>
                            <th style="padding-left: 10px; color: black;">Hit Rate</th>
                            <tr>
                                <td style="padding-left: 10px; color: black;"><%=playerInfo[0].mp_wins%></td>
                                <td style="padding-left: 10px; color: black;"><%=playerInfo[0].mp_losses%></td>
                                <td style="padding-left: 10px; color: black;"><%=playerInfo[0].hits%></td>
                                <td style="padding-left: 10px; color: black;"><%=playerInfo[0].misses%></td>
                                <td style="padding-left: 10px; color: black;"><%=Math.round((playerInfo[0].mp_wins/(playerInfo[0].mp_wins+playerInfo[0].mp_losses))*100) || 0%>%</td>
                                <td style="padding-left: 10px; color: black;"><%=Math.round((playerInfo[0].misses/(playerInfo[0].hits+playerInfo[0].misses))*100) || 0%>%</td>
                                <!-- Defect #16 - changed playerInfo[0].hits to playerInfo[0].misses-->
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <form action="/deletePlayer">
                            <input type="submit" class="btn btn-danger" value="Delete Account">
                        </form>
                        <a href="https://www.google.com" class="btn btn-secondary">Change Password</a>
                        <button type="button" class="btn btn-secondary" >Close</button>
                        <!-- Defect #13 - Removed data-dismiss="modal" so that modal does not close when click on Close Button -->
                    </div>
                </div>
            </div>
        </div>
        <%
        }
        %>
    </header>

    <h1 align="center">
        <b>Top 100 Players</b><br>
    </h1>
    <table align="center">
        <tr>
            <th style="background-color: black; color: white">#</th>
            <th style="background-color: black; padding-left: 30px; color: white">Username</th>
            <th style="background-color: black; padding-left: 30px; color: white">Wins</th>
            <th style="background-color: black; padding-left: 30px; color: white">Losses</th>
            <th style="background-color: black; padding-left: 30px; color: white">Win Rate</th>
        </tr>
        <%for (var i = 0; i < userInfo.length; i++) {%>
        <tr>
            <td style="background-color: black; color: white"><%=(i+1)%></td>
            <td style="background-color: black; padding-left: 30px; color: white"><%=userInfo[i].displayName%></td>
            <td style="background-color: black; padding-left: 30px; color: white"><%=userInfo[i].mp_wins%></td>
            <td style="background-color: black; padding-left: 30px; color: white"><%=userInfo[i].mp_losses%></td>
            <td style="background-color: black; padding-left: 30px; color: white"><%=Math.round((userInfo[i].mp_wins/(userInfo[i].mp_wins+userInfo[i].mp_losses))*100) || 0%>%</td>
        </tr>
        <%
        }%>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>